
<h2>Account Details</h2>
<div>Account Number: </div>
<div id="graphContainer">
	<img src="../img/graph.jpg">
</div>
<table>
	<tr>
		<td><h3>Recent Transactions</h3></td>
	</tr>
	<tr>
		<td><h4>Date</h4></td>
		<td><h4>Transaction Type</h4></td>
		<td><h4>Amount</h4></td>
	</tr>
	<tr ng-repeat="transaction in transactions | limitTo:5 | orderBy: TRANS_ID:true">
		<td>{{transaction.DATEOFTRANSACTION}}</td>
		<td>{{transaction.TYPE}}</td>
		<td>{{transaction.AMOUNT}}</td>
	</tr>
</table>
<input type="button" ng-click="viewStatement()" value="View Full Statement">
<br>
<br>
<input type="button" ng-click="viewAll()" value="Return to Accounts List">