<div id="titleContainer">
    <h1 id="Title">Welcome to Mrs.Jenkins</h1><br>
    <p id="subTitle">A god tier banking application</p>
</div>

<div id="formContainer">
    <h3>Registration</h3>
    <form name="loginForm" id="loginForm" role="form">
        <input ng-model="usermae" id="username" placeholder="Enter Username Here"><br>
        <input ng-model="password" type="password" id="password" placeholder="Enter Password Here"><br>
        <input ng-model="checkPwd" type="password" id="confirmPassword" placeholder="Re-enter Password Here">
        <input type="submit" value="Register">
    </form>
</div>